<p class="fs-2 mt-3 text-center">PRODUCTS</p>
<div class="container-fluid">
  <div class="ms-3 row">
    <div
      class="col-3 card mx-3 my-3"
      style="height: 30rem; width: 18rem"
      *ngFor="let product of products"
    >
      <img
        [src]="product.image"
        class="card-img-top py-2"
        height="320px"
        width="50px"
        alt="..."
      />

      <div class="card-body">
        <h5 class="card-title">product.title</h5>

        <p class="card-text fs-5">Best Price: ₹ {{ product.price }} *</p>

        <a class="w-100 btn btn-success align-bottom" (click)="add(product.id)">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
